/* shared styles */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-style: none;
}

/* header styles */

.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    padding: 150px 240px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}