/* shared styles */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-style: none;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* header styles */

.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    padding: 150px 240px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}

/* main section related styles */

/* featured flowers styles */

.featured-flowers {
    margin: 150px 0px;
}

.featured-flowers-container {
    max-width: 1440px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.featured-flower-picture img {
    border-radius: 300px 300px 0px 0px;
}

#one {
    background-color: rgba(167, 33, 98, 0.15);
}

#two {
    background-color: rgba(5, 151, 160, 0.15);
}

#three {
    background-color: rgba(71, 125, 17, 0.15);
}

.featured-flower-picture figcaption {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-decoration-line: underline;
}

/* delivery-support styles */

.delivery-support {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    max-width: 1440px;
    height: 320px;
    margin: 125px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-tile figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hot deal styles */

.hot-deal {
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 100px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.hot-deal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

/* social-media styles */

.social-media {
    margin: 125px auto;

}

.social-media-header {
    margin-bottom: 45px;
}

.social-media-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* hero-section styles */

.hero-section {
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    padding: 120px;
    max-width: 1140px;
    margin: 0 auto;
}

.subscribe {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 45px;
}

.email-input {
    width: 700px;
    padding: 20px;
}

input[placeholder] {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}